.env.local
.env.*.local

# dependencies
node_modules/

# next.js build output
.next/
out/

# local build caches
*.tsbuildinfo
.vercel/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
